{% extends "model-page.html" %}

{% block content %}

<h2 style="font-family:verdana"><i>Cadastro de Produtos</i></h2>
<hr>
    <form action="submit" method="POST">{% csrf_token %}
        <label>Nome: </label>
        <input type="text" name="nome" size="23px" placeholder="Informe nome do Produto">
        <br>
        <br>
        <label>NCM: </label>
        <input type="text" name="ncm" size="23px" placeholder="Informe o NCM">
        <br>
        <br>
        <label>Valor: </label>
        <input type="text" name="valor" size="23px" placeholder="Preço do produto">
        <br>
        <br>
        <button type="submit" onclick="alert('Produto cadastrado com sucesso!')" autofocus >Cadastrar</button>
        <button type="reset" autofocus>Reiniciar</button>
        <a href="/">
            <button type="button" autofocus>Voltar</button>
        </a>
    </form>
{% endblock%}

