<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>...Login...</title>
</head>
<body>
    <br>
    <h1 align="center"><i>Login</i></h1>
    <form action="submit" method="POST"> {% csrf_token %}
        <hr>
        <div align="center">
            <label>Usuario </label>
            <input type="text" name="username" placeholder="Informe seu usuario">
            <label>Senha </label>
            <input type="password" name="password" placeholder="Informe sua senha">
            <button type="submit">Entrar</button>
            <button type="reset">Reiniciar</button>
        </div>
    </form>
    <hr>
    {% for message in messages %}
        <div align="center" style="color:red">
            <strong>Erro:</strong> <strong>{{ message }}</strong>
        </div>
    {% endfor %}
</body>
</html>