<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>...Login...</title>
</head>
<body>
    <h1 align="center">Login</h1>
    <form action="submit" method="POST"> {% csrf_token %}
        <div align="center">
            <label>Usuario: </label>
            <input type="text" name="username" placeholder="Informe seu usuario">
            <label>Senha: </label>
            <input type="password" name="password" placeholder="Informe sua senha">
            <button type="submit">Entrar</button>
            <button type="reset">Reiniciar</button>
        </div>
    </form>
    {% for message in messages %}
        <div align="center" style="color:red">
            <strong>Erro:</strong> {{ message }}
        </div>
    {% endfor %}
</body>
</html>