{% extends "model-page.html" %}

{% block content %}
<h1 align="center" style="font-family:montserrat" xmlns:background-color="http://www.w3.org/1999/xhtml"><i><u>Show Products</u></i></h1>
    <hr>
    <a href="cadastro/">
        <button class="btn btn-outline-primary"><b>Novos Produtos</b></button>
    </a>
    <br>
    <br>
    <table class="table table-success table-striped">
        <tbody>
            <thead>
                <tr>
                    <th scope="col"><i>Produto</i></th>
                    <th scope="col"><i>NCM</i></th>
                    <th scope="col"><i>Valor</i></th>
                    <th scope="col"><i>Atualizar</i></th>
                    <th scope="col"><i>Exclusao</i></th>
                </tr>
            </thead>
            <td>
            {% for produto in produto %}
                <tr>
                    <td>
                        {{ produto.nome }}
                    </td>
                    <td>
                        {{ produto.ncm}}
                    </td>
                    <td>
                        R${{ produto.valor }}
                    </td>
                    <div align="center">
                        <td>
                            <a href="cadastro/?id={{ produto.id }}"><button type="button" class="btn btn-outline-secondary"><b>Atualizar</b></button></a>
                        </td>
                        <td>
                            <a href="cadastro/delete/{{ produto.id }}/"><button type="button" class="btn btn-outline-danger"><b>Excluir</b></button></a>
                        </td>
                    </div>
                </tr>
            {% endfor %}
            </td>
        </tbody>
    </table>
{% endblock %}
{% include "model-footer.html" %}



